body{
    font-family: 'Space Grotesk';
    padding: 0;
     margin: 0;
}

.text-link{
    color: black;
    cursor: pointer;
    text-decoration: underline;
}

.input{
    border: 0;
    background: #F7F7F7;
    padding: 1.3vw 3vw;
    width: 25vw;
    margin: 0.7vw 0;
    border-radius: 2vw;
    font-family: 'Space Grotesk';
}
.button{
    border: 0;
    background: #000;
    padding: 1.3vw 3vw;
    cursor: pointer;
    margin: 0.5vw 0;
    border-radius: 2vw;
    margin-top: 2vw;
    color: white;
    font-family: 'Space Grotesk';
}

.auth-layout{
    display: flex;
    flex-direction: row;
    width: 90vw;
    margin-left: 5vw;
    margin-top: 6vh;
    justify-content: space-between;
}

.form-layout{
    margin-left: 6vw;

}
.auth-header{
    margin-top: 8vh;
}
.auth-header-title{
    font-size: 3.3vw;
    font-weight: 700 !important;
    margin: 0;
}
.auth-header-img{
    width: 2.8vw;
    margin-bottom: 1vw;
}
.auth-header-text{
    color: gray;
}

.auth-image{
    width: 40vw;
    border-radius: 2vw;
    height: 88vh;
    background: url(https://images.unsplash.com/photo-1633907284646-7abf4a195875?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1964&q=80);
    background-size: cover;
}
.auth-form-layout{
    color: gray;
    margin-top: 2vw;
    font-size: 0.9vw;
}
.auth-form{
    margin-bottom: 6vw;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}


.dashboard-layout{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav{
    background: #000;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw 3vw;
    box-sizing: border-box;
}
.nav-logo{
    margin-left: 1vw;
    width: 2.7vw;
}
.nav-link{
    color: white;
    text-decoration: underline;
}

.dashboard-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80vw;
    margin-top: 10vh;
}

.user-list{
    width: 40vw;
    height: 70vh;
    background: #F7F7F7;
    border-radius: 2vw;
    margin-right: 2vw;
}

.tabs{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.tab{
    width: 19vw;
    margin-right: 2vw;
    height: 20vh;
    background: #F7F7F7;
    border-radius: 1vw;
    padding-left: 2.5vw;
    box-sizing: border-box;
}

.tab-text{
    color:gray;
    margin-top: 4vh;
}
.tab-metric{
    margin: 0;
    font-size: 3vw;
    font-family: 'Inter';
    font-weight: 400;
}

.chart{
    width: 40vw;
    margin-top: 5vh;
    padding-left: 2.5vw;
    padding-top: 2vh;
    box-sizing: border-box;
    height: 45vh;
    background: #F7F7F7;
    border-radius: 2vw;
}

.chart-text{
    color:gray;
}